html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #a9a9a9;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-family: ;
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */
/* header, h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */


/* input form */
input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #ff80ff;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}
article, aside, footer {
  background-color: white;
  padding: 1%;
}

.navbar {
  /* TODO: responsive site */
  /* flex is for responsive */
  /* display: flex; */
  justify-content: center;
  background-color: #061D25;
}
.navbar, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  /* background-color: #f1f1f1; */
  list-style-type: none;  
  font-weight: bold;  
  font-size: 20px; 
}
/* Style the navigation bar links */
.navbar a{
  display: block;
  color: rgba(119, 212, 32, 0.931);
  /* padding: 14px 20px; */
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}


/* Change color on hover */
.navbar a:hover {
  background-color: white;
  color: black;
}

/* TODO button */

.row {  
  display: flex;
  flex-wrap: wrap;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

 /*The content of the sub-projects; */

dl {
  overflow: hidden;
  background:yellow;
  padding: 0;
  margin: 0
}

dd {
  margin-left: 1em;
}

dt {
  font-weight: bold;
  margin-bottom: .25em;
  margin-top: .75em;
}


footer {
  background: #061D25;
  padding: 10px 0;
  text-align: center;
}
footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
footer a:first-child {
  border-left: 1px solid #70726F;
}
footer a:hover {
  color: white;
}


/*Table*/
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 10px;
}

#t01 {  
  background-color: #f1f1c1;
}

/*/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other 
*/@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
