h1 {
  text-align: center;
}
body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
.className{
  width:270px;
  height:150px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-75px 0 0 -135px;
}
.topnav-right {
  float: right;
}
